/out/
/glycoquest_*_out/
/glycoquest_*_input/

*.mzXML
*.mzxml
!tests/fixtures/mzxml/*.mzXML
!tests/fixtures/mzxml/*.mzxml
*.mzML
*.mzml
*.raw
/*.pdf
/RNxQuest/
/xQuest/
/glycan_databases/


# Added by cargo

/target

# Viewer package
/viewer/node_modules/
.DS_Store
src/.DS_Store
