#webconfig file ::for ::defining ::stylesheets, ::servers ::etc.
css_stylesheet::http://localhost/style.css
webdir::http://localhost/cgi-bin/xquest/
resultdirbase::/home/xquest/results
resultsubfolder::/
resulturlbase::http://localhost/results
xmlparser::http://localhost/cgi-bin/xquest/xxquest2.cgi
email::info@xquest.org